<h1>Home#top</h1>

<h1>Hello! Vegetable</h1>

<%= link_to "やさいいね！へようこそ！", about_path %>

<<<<<<< HEAD
<%  @agriusers.each do |agriuser| %>
=======
<% @agriusers.each do |agriuser| %>
>>>>>>> master
<%= link_to "ありがとう！！", be_liked_agriuser_path(agriuser) %>
<%end%>
    
<%= form_tag do %>
<input type = "submit" value="ありがとう!">
<%end%>
